</main>

<footer class="text-center mt-5 py-3 footer-text fade-in" style="animation-delay: 0.2s;">
    <p>&copy; <%= new Date().getFullYear() %> F1 Fantasy. Wszystkie prawa zastrzeżone.</p>
  </footer>
</div>

<!-- Bootstrap Bundle z Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>